html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: rgba(5, 244, 244, 0.1);
    margin: 0;
    padding: 0;
}

